html{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #343131;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #343131;
}
.container{
    padding: 1rem;
    background-color: #D8A25E;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #fff;
}

h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

label{
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

input{
    padding: 0.5rem;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    background-color: #A04747;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
}

button{
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    background-color: #A04747;
    border-radius: 5px;
}

button:hover{
    background-color: #fff;
    color: #343131;
}

p{
    text-align: center;
    margin-top: 1rem;
    color: #fff;
    background-color: #343131;
    border-radius: 5px;
    margin: 7px;
}
