h1{
    text-align: center;
    color: #386641;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2e8cf;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
    background-color: #a7c957;
    text-align: center;
}
th {
    background-color: #6a994e;
}
.action-btn {
    margin: 2px;
    padding: 5px 10px;
    cursor: pointer;
}
.add-btn {
    background-color: green;
    border: 2px solid green;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
}
.edit-btn {
    background-color: #386641;
    color: white;
    border: 2px solid green;
    text-decoration: none;
    border-radius: 6px;
}
#student-form{
    text-align: center;
    justify-content: center;
}
.delete-btn {
    background-color: #bc4749;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 6px;
}

input{
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
    border: 2px solid #386641;
    height: 25px;
    text-align: center;
}
/* Custom alert box */
#custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none; /* Initially hide the alert box */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alert-box {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.alert-box p {
    margin-bottom: 20px;
    font-size: 16px;
}

.alert-box button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.alert-box button:hover {
    background-color: #0056b3;
}
