title{
    font-size: 2.4rem;
    text-align: center;
}

body{
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0C0C0C;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #F2613F;
    border-radius: 5px;
    background-color: #481E14;
}

.container-element{
    margin: 1rem;
}

h1{
    color: #F2613F;
    text-align: center;
}

.change{
    color: #433D8B;
    text-align: center;
}

label{
    color: #F2613F;
    text-align: center;
    justify-content: center;
}

input{
    padding: 0.5rem;
    border: 1px solid #F2613F;
    border-radius: 5px;
    text-align: center;
}

button{
    padding: 0.5rem 1rem;
    border: 1px solid #F2613F;
    border-radius: 5px;
    background-color: #481E14;
    color: #F2613F;
    cursor: pointer;
}

p{
    color: aliceblue;
    text-align: center;
}

.Rectangle{
    border: 2px solid #0C0C0C;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    margin: 16px;
}

.Triangle{
    border: 2px solid #0C0C0C;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    margin: 16px;
}

.Circle{
    border: 2px solid #0C0C0C;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    margin: 16px;
}

h3{
    font-size: 1.5em;
    text-align: center;
    color: aliceblue;
}

button:hover{
    background-color: #F2613F;
    color: #481E14;
}