title{
    font-size: 2.4rem;
    text-align: center;
}

body{
    font-family: 'Arial', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #17153B;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2E236C;
}

.container-element{
    margin: 1rem;
}

h1{
    color: #C8ACD6;
    text-align: center;
}

.change{
    color: #433D8B;
    text-align: center;
}

label{
    color: #C8ACD6;
    text-align: center;
}

input{
    padding: 0.5rem;
    border: 1px solid #C8ACD6;
    border-radius: 5px;
}

button{
    padding: 0.5rem 1rem;
    border: 1px solid #C8ACD6;
    border-radius: 5px;
    background-color: #17153B;
    color: #C8ACD6;
    cursor: pointer;
}

p{
    color: #C8ACD6;
    text-align: center;
}